MONGODB_URI=mongodb+srv://your_user:your_password@cluster.mongodb.net/?appName=your_app
DATABASE_NAME=stock_analysis
JWT_SECRET_KEY=your-secret-key-change-this
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
FINNHUB_API_KEY=your_finnhub_api_key_here
